<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12" ng-switch="ticket.status">
			<h1>Lead Editor</h1>
			<progressbar max="5" value="ticket.status" type="success"></progressbar>
			<div ng-switch-when="0">
			  <h3>Verify Lead</h3>
			  <div class="form-group">
			    <label for="lead-name">Lead Name</label>
			    <input type="text" ng-disabled="!ticket.open" class="form-control" id="lead-name" placeholder="Lead name" ng-model="ticket.lead.name">
			  </div>
			  <div class="form-group">
			    <label for="lead-address">Address</label>
			    <input type="text" ng-disabled="!ticket.open" class="form-control" id="lead-address" placeholder="Address" ng-model="ticket.lead.address">
			  </div>
			  <div class="form-group">
			    <label for="lead-phone">Phone Number</label>
			    <input type="tel" ng-disabled="!ticket.open" class="form-control" id="lead-phone" placeholder="Phone Number" ng-model="ticket.lead.phone">
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-disabled="!ticket.open" ng-model="ticket.lead.verified"> Verified
			    </label>
			  </div>
			</div>
			<div ng-switch-when="1">
		  	<h3>Finalize Quotes</h3>				  
		  	<accordion close-others="true">
			    <accordion-group ng-repeat="quote in ticket.quotes" heading="{{quote.service}} - ${{quote.given_price}}">
				    <form class="form-horizontal" role="form">
				    	<div class="form-group">
						    <label for="current-services" class="col-sm-2 control-label">Current Services</label>
					     	<div class="col-sm-10">
						    	<input type="text" ng-disabled="!ticket.open" class="form-control" id="current-services" placeholder="Current Services" ng-model="quote.current_services">
					    	</div>
					 	</div>
					 	<div class="form-group">
						    <label for="proposed-services" class="col-sm-2 control-label">Proposed Services</label>
					     	<div class="col-sm-10">
						    	<input type="text" ng-disabled="!ticket.open" class="form-control" id="proposed-services" placeholder="Proposed Services" ng-model="quote.service">
					    	</div>
					 	</div>
					 	<div class="form-group">
						    <label for="standard-price" class="col-sm-2 control-label">Standard Price</label>
					     	<div class="col-sm-10">
						    	<input type="number" ng-disabled="!ticket.open" class="form-control" id="standard-price" placeholder="Standard Price" ng-model="quote.std_price">
					    	</div>
					 	</div>
					 	<div class="form-group">
						    <label for="proposed-price" class="col-sm-2 control-label">Proposed Price</label>
					     	<div class="col-sm-10">
						    	<input type="number" ng-disabled="!ticket.open" class="form-control" id="proposed-price" placeholder="Proposed Price" ng-model="quote.given_price">
					    	</div>
					 	</div>
					 	<div class="form-group">
						    <label for="local-competitors" class="col-sm-2 control-label">Local Competitors</label>
					     	<div class="col-sm-10">
						    	<input type="text" ng-disabled="!ticket.open" class="form-control" id="local-competitors" placeholder="Local Competitors" ng-model="quote.competitors">
					    	</div>
					 	</div>
					 	<div class="form-group">
						    <label class="col-sm-2 control-label"></label>
					     	<div class="col-sm-10">
								<button ng-click="remove(ticket.quotes, $index)" class="btn btn-danger">Delete</button> 
					    	</div>
					 	</div>
				 	</form>
			    </accordion-group>
			  </accordion>
			</div>
			<button ng-click="decrement()" class="btn btn-primary" ng-if="(ticket.status > 0)">Back</button> 
			<button ng-click="newQuote()" ng-disabled="!ticket.open" class="btn btn-info" ng-if="(ticket.status == 1)">New Quote</button> 
		  	<button ng-click="ticket.open = !ticket.open" class="btn btn-default">
		  		{{(ticket.open ? 'Freeze ' : 'Open')}} Ticket
	  		</button>
	  		<button ng-click="increment()" class="btn btn-primary" ng-if="(ticket.status < 5)">Next</button> 
		</div>
	</div>
</div>